/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    height: 105px;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #0000006b;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 255px;
    height: auto;
    margin-right: 15px;
}

.libraryName {
    font-size: 22px;
    color: #294765;
}

/* USER INFO */
.information i {
    font-size: 22px;
    cursor: pointer;
}

/* CONTENT LAYOUT */
.content {
    height: calc(100vh - 105px);
}

/* SIDEBAR */
.sidebar {
    width: 20%;
    background-color: #294765;
    padding-top: 20px;
}

.menu-link {
    list-style: none;
    padding-left: 0;
    padding: 0 10px;
}

.link {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.link i {
    margin-right: 10px;
    font-size: 18px;
    color:white;
}

.link a {
    color: inherit;
    text-decoration: none;
}


.link.active {
    background-color: #c7e5fa;
    color: #264a73 !important;
    font-weight: bold;
}
.link.active > i {
    color: #264a73 !important;
}
/* MAIN CONTENT */
.main-content {
    width: 85%;
    padding: 20px;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.bi {
    color: black;
}
