.container-about{
    padding: 6px 7px 2px 6px;
}

.container-about h2, h5 {
    font-size: 24px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.container-about h5 {
    color: #C69B32;
}

.leadership h2 {
    color: #94721A !important;
}

.visit-us h2 {
    color: #94721A !important;
}

.support h2 {
    color: #94721A !important;
}

.icons .badge {
    top: -10px;
    right: -10px;
}

.visit-us,
.leadership,
.support {
    margin-bottom: 5px !important;
    gap: 5px;
}

.hero {
    background-color: #e9ecef;
    border-radius: 3px;
}

.description, .service-hours, .visit-us, .leadership, .support {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
