
:root {
    --primary-dark: #1a2b3c;
    --accent-gold: #c5a059;
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-navy {
    background-color: var(--primary-dark);
}

.container {
    width: 100% !important;
    max-width: 960px !important;
    margin: 0 auto !important;
}

.nav-link {
    color: white !important;
}

.main-slider-img {
    width : 960px !important;
    height: 400px !important;
    border-radius: 0 !important;
}

#heroCarousel {
    border-radius: 0 !important;
    overflow: hidden;
}

.custom-indicators [button] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    border: none;
    margin: 0 5px;
    opacity: 0.8;
}

.custom-indicators .active {
    background-color: #8a7350;
    opacity: 1;
}

.book-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}

.book-card:hover {
        transform: translateY(-5px);
}

.badge-new {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff4d4d;
    color: white;
}

.custom-card-width {
    width: calc(25% - 1rem);
    min-width: 200px;
}
.custom-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.genre-card-wrapper {
    width: calc(25% - 12px);
    min-width: 240px;
}

.genre-card {
    height: 140px;
    transition: transform 0.3s ease;
}

.genre-card:hover {
    transform: scale(1.02);
}

.genre-card .card-img {
    height: 100%;
    object-fit: cover;
}

.genre-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
}

.custom-genre-scrollbar::-webkit-scrollbar {
    height: 6px;
}

.custom-genre-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 10px;
}

.card-img-wrapper img {
    width: 100%;
    aspect-ratio: 2/3;
    height: 220px; 
    object-fit: cover;
    object-position: top;
}

.wishlist-btn:focus {
    outline: none;
    box-shadow: none; 
}

.wishlist-btn.active i {
    color: #ff0000; 
    opacity: 1 !important; 
}

@media (max-width: 576px) {
    .card-body {
        padding: 0.75rem !important;
    }

    .book-title {
        font-size: 0.1rem;
        line-clamp: 2; 
    }

    .badge {
        font-size: 0.7rem;
        padding: 4px 8px !important;
    }
}
