@{
    ViewBag.Title = "Manage Books";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin/ManageBooks.css" />
}

<header class="page-header">
    <h3>Book Management</h3>
</header>

<div class="card-container">
    <!-- Card -->
    <div class="stat-card">
        <div class="icon-box">
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="card-content">
            <span class="card-label">Total Users</span>
            <span class="card-value">69</span>
        </div>
    </div>

    <!-- Card -->
    <div class="stat-card">
        <div class="icon-box">
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="card-content">
            <span class="card-label">Total Users</span>
            <span class="card-value">69</span>
        </div>
    </div>

    <!-- Card -->
    <div class="stat-card">
        <div class="icon-box">
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="card-content">
            <span class="card-label">Total Users</span>
            <span class="card-value">69</span>
        </div>
    </div>

    <!-- Card -->
    <div class="stat-card">
        <div class="icon-box">
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="card-content">
            <span class="card-label">Total Users</span>
            <span class="card-value">69</span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-3">
    <form action="" class="search-form">

        <i class="bi bi-search search-icon"></i>
        <input type="text" placeholder="Search books..." class="search-input">

    </form>
    <button type="button" class="add-books-btn">
        <i class="bi bi-plus-circle-fill"></i>
        <span>Add Books</span>
    </button>
</div>
<table class="table mt-3 book-table">
    <thead class="thead-dark">
    <tr >
        <th scope="col">#</th>
        <th scope="col">Book Cover</th>
        <th scope="col">Book Title</th>
        <th scope="col">Author</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Fiction</td>
        <td>10</td>
        <td >
            <span class="table-status">Unavailable</span>
        </td>
        <td>
            <div class="action-container">
                <button>
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button>
                    <i class="bi bi-trash text-danger"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Fiction</td>
        <td>10</td>
        <td >
            <span class="table-status">Available</span>
        </td>
        <td>
            <div class="action-container">
                <button>
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button>
                    <i class="bi bi-trash text-danger"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>











@section Scripts{
    <script src="~/js/admin/Managebooks.js"></script>
}